{% extends "base.html" %}
{% load i18n  mezzanine_tags staticfiles %}
{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}{% trans "Home" %}{% endblock %}
{% block breadcrumb_wrapper %}
{% endblock %}

{% block meta_og %}
  <meta property="og:image" content="{{ request.build_absolute_uri|slice:":-1" }}{{ latest_episode.cover_image.url }}">
  <meta property="og:image" content="{{ request.build_absolute_uri|slice:":-1" }}{% static "img/fc_fb.png" %}">
{% endblock meta_og %}

{% block title_wrapper %}
{% endblock %}

{% block breadcrumb_menu %}
<li class="active">{% trans "Home" %}</li>
{% endblock %}


{% block all_content %}
<section id="{% block section_id %}featured{% endblock %}">
  {% block left_wrapper %}
  {% endblock %}

  {% block main_wrapper %}
  <div class="col-md-{% block main_col_size %}none{% endblock %} {% block main_class %}{% endblock %}">
  {% block main %}
    {% with latest_episode=episodes|first %}
    <div class="container">
      <div class="row">
        <article itemprop="track" itemscope itemtype="http://schema.org/MusicRecording">
        <meta itemprop="byArtist" content="Fanficast">
        <meta itemprop="duration" content="{{ latest_episode.length }}">

        <a itemprop="url" class="a-no-style" href="{{ latest_episode.get_absolute_url }}">
          <div class="col-md-5 col-md-offset-2">
            <div class="fanfic-image row" style="">
              <img id="fanfic-image-main" src="{{ latest_episode.cover_image_url }}"
               alt="{{ latest_episode.title }}" itemprop="image"/>
            </div>
          </div>
        </a>
        <div class="col-md-3 featured-description">
          <a class="a-no-style" href="{{ latest_episode.get_absolute_url }}">
          <h5>fanficast</h5>
          <h4 itemprop="name">{{ latest_episode.title }}</h4>
          <span itemprop="description">{{ latest_episode.short_description }}</span>
          </a>
        </div>
        </article>
      </div><!--row-->
    </div><!--container-->	
    {% endwith %}
  {% endblock %}
  </div>
  {% endblock %}

  {% block right_wrapper %}
  {% endblock %}
</section>

<section id="short-description">
  <div class="container">
  <div class="row">
    <h3>FANFICAST</h3>
    <h5>Entendendo fanfictions</h5>
    <span>por Ana &amp; Nchan</span>
    <div id="short-description-icons">
    <a href="http://feeds.feedburner.com/fanficast" target="_blank">
      <img src="{% static 'img/rss.png' %}" style="height: 22px"></a>
    <a href="http://soundcloud.com/fanficast" target="_blank">
      <img src="{% static 'img/soundcloud.png' %}"></a>
    </div>
  </div>
  </div>
</section>

<section id="content">
	<div class="container">
  <div class="col-lg-12">
    {% for episode in episodes|slice:"1:" %}
    {% if forloop.counter|divisibleby:"3" %}
    <div class="row">
    {% endif %}
    <div class="col-md-4">
      <div class="box box-fanfic" style="background-color: #fcfcfc">
      <article itemprop="track" itemscope itemtype="http://schema.org/MusicRecording">
        <meta itemprop="byArtist" content="Fanficast">
        <meta itemprop="duration" content="{{ episode.length }}">
        <a itemprop="url" href="{{ episode.get_absolute_url }}">
        <div class="fanfic-image">
          <img itemprop="image" src="{{ episode.cover_image_url }}" />
        </div>
        <div class="fanfic-description">
          <h4 itemprop="name">{{ episode.title }}</h4>
          <p itemprop="description">
          {{ episode.short_description }}
          </p>
        </div>
        </a>
      </article>
      </div><!--box-->
    </div><!--col-md-4-->
    {% if forloop.counter|divisibleby:"3" %}
    </div>
    {% endif %}
    {% endfor %}
  </div><!--col-lg-12-->
  </div><!--container-->
</section>

{% endblock %}
